# -*- coding: utf-8 -*-
<%inherit file="/base.tmpl" />
<%def name="head_tags()">
    ${h.stylesheet_link("/css/highlight.css")}
    ${h.stylesheet_link("/css/graph.css")}
</%def>
Viewing <code>/${c.path}<code> (${c.blob_obj.id})<br/>
${h.highlight_blob(c.path, c.blob_obj.data) | n}

