# -*- coding: utf-8 -*-
<%inherit file="/base.tmpl" />
<%def name="head_tags()">
    ${h.stylesheet_link("/css/highlight.css")}
    ${h.stylesheet_link("/css/graph.css")}
</%def>

<table border="0" cellspacing="4" cellpadding="4">
  <tbody>
    <tr>
      <td>author</td>
      <td>${c.commit.author_name} &lt;${h.mail_to(c.commit.author_email, encode="hex")}&gt; (${c.commit.author_time})</td>
    </tr>
    <tr>
      <td>committer</td>
      <td>${c.commit.committer_name} &lt;${h.mail_to(c.commit.committer_email, encode="hex")}&gt; (${c.commit.commit_time})</td>
    </tr>
    <tr>
      <td>commit</td>
      <td>${h.link_to(c.commit.id, h.url.current())}</td>
    </tr>
    <tr>
      <td>tree</td>
      <td>${h.link_to(c.commit.tree, h.url("tree", repo=c.repo, id=c.commit.tree))}</td>
    </tr>
%for parent in c.commit.parents:
    <tr>
      <td>parent</td>
      <td>${h.link_to(parent, h.url.current(id=parent))}</td>
    </tr>
%endfor
%for format in c.formats:
    <tr>
      <td>download</td>
      <td>${h.link_to("%s-%s.%s" % (c.repo, c.commit.id, format) ,
      			h.url("download", repo=c.repo, id=c.commit.id, format=format))}</td>
    </tr>
%endfor
  </tbody>
</table>
<p>
<strong>${c.commit.summary}</strong><br />
<pre>${h.trim_first_line(c.commit.message)}</pre>
<table class="diffstat">
  <tbody>
%for diff in c.diffs:
% if diff.deleted:
	<tr>
	  <td>-------</td>
	  <td><a href="#${diff.id}">${diff.name}</a></td>
	  <td>${diff.total_changes}</td>
	  <td class="graph">
	  	<table summary="file diffstat" style="width: 500px;">
	  	  <tr>
	  	    <td class="add" style="width: ${diff.insertions * 100 / diff.total_changes}%;"/>
	  	    <td class="rem" style="width: ${diff.deletions * 100 / diff.total_changes}%;"/>
	  	  </tr>
	  	</table>
	  </td>
	</tr>
%	else:
	<tr>
	  <td>${h.oct_to_sym(diff.mode_b)}</td>
	  <td>${diff.name}</td>
	  <td>${diff.total_changes}</td>
	  <td class="graph">
	  	<table summary="file diffstat" style="width: ${100 if diff.max_changes > 100 else diff.max_changes}%;">
	  	  <tr>
	  	    <td class="add" style="width: ${diff.insertions * 100.0 / diff.max_changes}%;"/>
	  	    <td class="rem" style="width: ${diff.deletions * 100.0 / diff.max_changes}%;"/>
	  	    <td class="none" style="width: ${(diff.max_changes - diff.total_changes) * 100.0 / diff.max_changes}%;"/>
	  	  </tr>
	  	</table>
	  </td>
	</tr>
%	endif
%endfor
  </tbody>
</table>
<br/>
%for diff in c.diffs:
<a name="${diff.id}">${diff.name}</a><br/>
%	if h.istext(diff.diff):
${h.highlight_diff("".join(diff.diff)) | n}<br/>
%	else:
<i>Binary file differs.</i><br/>
<br/>
%	endif
%endfor