# -*- coding: utf-8 -*-
<%inherit file="/base.tmpl" />

<table cellpadding="2" border="1" cellspacing="4">
  <thead>
    <tr>
      <th>Branch</th>
      <th>Commit message</th>
      <th>Author</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
%for branch_name, commit in c.repo_obj.branches.items()[:10]:
	<tr>
	  <td>${branch_name}</td>
	  <td>${h.trunc(commit.summary, 80)}</td>
	  <td>${commit.author_name}</td>
	  <td>${h.age(commit.commit_time)}</td>
	</tr>
%endfor
  </tbody>
</table>
<br/>
<table cellpadding="2" border="1" cellspacing="4">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Download</th>
      <th>Author</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
%for tag_name, tag_obj in c.repo_obj.tags.items()[:10]:
    <tr>
      <td>${tag_name}</td>
      <td>pygitweb-${tag_name}</td>
      <td>${tag_obj.tagger_name}</td>
      <td>${h.age(tag_obj.tag_time)}</td>
    </tr>
%endfor
  </tbody>
</table>
<br/>
<table cellpadding="2" border="1" cellspacing="4">
  <thead>
    <tr>
      <th>Age</th>
      <th>Commit message</th>
      <th>Author</th>
      <th>Files</th>
      <th>Lines</th>
    </tr>
  </thead>
  <tbody>
%for commit in c.repo_obj.list_shas(count=10):
    <tr>
      <td>${h.age(commit.commit_time)}</td>
      <td>${h.link_to(h.trunc(commit.summary, 80), h.url("commit", id=commit.id, repo=c.repo))}</td>
      <td>${commit.author_name}</td>
      <td></td>
      <td></td>
    </tr>
%endfor
  </tbody>
</table>