# -*- coding: utf-8 -*-
<%inherit file="/base.tmpl" />

<%def name="head_tags()">
    ${h.javascript_link(h.url("/javascripts/jquery-1.4.2.js"))}
    ${h.javascript_link(h.url("/javascripts/jquery.tablesorter.js"))}
    ${h.javascript_link(h.url("/javascripts/jquery.metadata.js"))}


    <script type="text/javascript">
        $(document).ready( function() {
            $("table.zebra-stripe tr:even").addClass("alt");
        } );
    </script>
</%def>

Currently browsing <code>/${c.path}</code><br />
<br />
<table id="files" class="zebra-stripe" cellspacing="0" cellpadding="0" border="0" width="100%">
  <thead>
    <tr align="left">
      <th width='100px'>Mode</th>
      <th>Name</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
% for (filename, permissions, id) in c.tree_obj.iteritems():
  <tr>
    <td><code>${h.oct_to_sym(permissions)}</code></td>
    <td>${h.link_to(filename, h.url("tree", repo=c.repo, path=h.join(c.path, filename), id=c.id))}</td>
    <td>${c.repo_obj[id].raw_length()}</td>
  </tr>
% endfor
  </tbody>
</table>